h1 {
  color: red;
}

p {
  background-color: red;
}

.main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}
